---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import About from "../components/About.astro"
import Experience from "../components/Experience.astro"
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio Fabian Urrutia">
	<main class="px-4">
		<SectionContainer id="about">
			<About/>
		</SectionContainer>
		<SectionContainer id="exp">
			<Experience/>
		</SectionContainer>
		<SectionContainer id="projects">
			<Projects/>
		</SectionContainer>
		<SectionContainer id="tech">
		</SectionContainer>
		<SectionContainer id="contact">
			<h3 class="text-xl">Mi IG</h3>
			<a class="text-2xl" href="https://instagram.com/fauchx28">Sigames</a>
		</SectionContainer>

	</main>
</Layout>

<style>
	
</style>
