---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import About from "../components/About.astro"
---

<Layout title="Portfolio Fabian Urrutia">
	<main class="px-4">
		<SectionContainer id="about">
			<About/>
		</SectionContainer>
		<SectionContainer id="projects">
			<h2 class="text-3xl">Proyectos</h2>
		</SectionContainer>
		<SectionContainer id="tech">
			<h2 class="text-3xl">SOY JUNIORRR</h2>
		</SectionContainer>
		<SectionContainer id="contact">
			<h3 class="text-xl">Mi IG</h3>
			<a class="text-2xl" href="https://instagram.com/fauchx28">Sigames</a>
		</SectionContainer>

	</main>
</Layout>

<style>
	
</style>
