<div class="py-40 px-22">
    <h2 class="text-5xl text-emerald-400"> Fabian Andres Urrutia Chaverra</h2>
    <div class="flex flex-row">
        <img class="size-60 mb-4" src="https://a.espncdn.com/photo/2020/1012/r759684_1296x729_16-9.jpg" alt="Jordan">
       <ul class="list-disc">
        <li>
            <span class="text-2xl">Desarrollador web enfocado en React</span>
        </li>
        <li>
            <span class="text-2xl text-cyan-400">Pregrado en Ingenieria de Sistemas en la Universidad del Valle</span>
        </li>
       </ul>
    </div>
</div>