---
import Socials from "./Socials.astro"
import LinkedinItem from "../items/LinkedinItem.astro"
import GithubItem from "../items/GithubItem.astro"
import FileItem from "../items/FileItem.astro"
import "/node_modules/flag-icons/css/flag-icons.min.css";
---
<div class="pt-32 pb-16 px-22">
    <h2 class="text-4xl lg:text-6xl text-emerald-400 text-center mb-16 "> Fabian Andres Urrutia Chaverra</h2>
    <div class="flex md:flex-row flex-col items-center md:items-stretch space-x-12">
        <div class="relative "> 
            <img class="mb-4 img-photo  border-red-400 border-dotted border-4" src="https://github.com/fauchx/Portafolio-Personal/blob/main/src/items/yo.jpg?raw=true" alt="Jordan">
        </div>
        <ul class="list-disc flex justify-around  flex-col mt-4">
            <li>
                <span class="text-2xl lg:text-2xl text-gray-900">Systems engineer</span>
            </li>
            <li>
                <span class="text-2xl lg:text-2xl text-cyan-400">Degree of  Systems Engineering in Universidad del Valle</span>
            </li>
            <li>
                <span class="text-2xl lg:text-2xl text-yellow-400">1 year experience of web and software developing</span>
            </li>
            <li>
                <span class="text-2xl lg:text-2xl justify-center items-center gap-x-4 text-emerald-400">Cali, Valle del Cauca, Colombia
                    <span class=`fi fis fi-co`/>
                </span>
            </li>
            <li>
                <span class="text-2xl lg:text-2xl text-red-400">Master in create unique applications</span>
            </li>
            <li>
                <span class="text-2xl lg:text-2xl text-emerald-400">Open to work</span>
            </li>
           </ul>
    </div>
        <ul class="list-disc flex gap-x-20  items-center md:items-stretch flex-col md:flex-row mt-4">
            <li class="justify-center items-center gap-x-4 ">
                <span class="text-2xl lg:text-2xl text-yellow-400">Spanish native</span>
                <span class=`fi fis fi-es`/>
            </li>
            <li class="justify-center items-center gap-x-4 ">
                <span class="text-2xl lg:text-2xl text-cyan-400">English B2</span>
                <span class=`fi fis fi-us`/>
            </li>
            <li class="justify-center items-center gap-x-4 " >
                <span class="text-2xl lg:text-2xl text-red-400">French A2</span>
                <span class=`fi fis fi-fr`/>
            </li>
    </ul>
</div>    
<nav class="flex flex-row mt-2 gap-x-3">
        <Socials class="border-cyan-500 borde " href="https://www.linkedin.com/in/fabi%C3%A1n-urrutia-ab328b2aa">
            Linkedin
            <LinkedinItem class="size-6"/>
        </Socials>
        <Socials class="border-red-400 borde" href="https://github.com/fauchx">
            Github
            <GithubItem class="size-8"/>
        </Socials>
        <Socials class="border-emerald-400 borde ml-auto" href="https://drive.google.com/file/d/1pb4kiim8OTQuo1mbfXNsKBic757duMeI/view?usp=sharing" >
            My CV
            <FileItem class="size-6"/>
        </Socials>
    </nav>
</div>
<style is:global>
    .img-photo{
        width: 16rem;
        height: 19rem;
        box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        transition:all .5s ease;
    }
    .borde{
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    transition:all .5s ease;
    }
    .borde:hover{
        box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
    }
    ::marker {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.4 16.2c-2.3-2.3-5.4-3.5-8.4-4.5-.5-.2-1.1-.3-1.6-.5-1.6-1.6-3.7-2.8-6.2-3.2-1-.2-1.9.1-2.5.6-.9-.3-1.8-.6-2.7-.8-3.2-1-6.4-1.8-9.5-.1-1 .5-1.9 1.2-2.7 2-6.4 1.4-11.7 5-12.4 12.7C0 27 1.9 31.5 4.9 34.9c.1.6.2 1.1.4 1.7 1 3.2 3.3 5.7 6.7 6.5 2.7.6 5.4-.2 7.9-1.2 3.3.4 6.7.3 9.9 0 6.5-.7 13.3-2.8 17.1-8.5 3.6-5.2 4-12.6-.5-17.2zm-17.3.9c2.1.4 4 1.7 4.7 3.8 0 .5-.1 1.1-.2 1.6-.3 1.4-.8 2.6-1.6 3.7-.7.2-1.5.1-2.3-.4-.8-.4-1.6-1-2.2-1.6-.4-.4-1.2-1.7-1.6-1.9 3.4 1.3 5.1-3 3.2-5.2zm-11.6 9.7c.2-1.9 1.1-3.9 2.3-5.5-.4 2.1.3 4.2 1.7 6 1.3 1.7 3.1 3.2 5 4.2-.2.1-.4.2-.6.4-.1 0-.1.1-.2.1-3.9.2-8.7-.8-8.2-5.2zm-6.4 3.1c.1.3.1.7.2 1 .2.6.4 1.2.7 1.8-.4-.2-.7-.5-1-.7.1-.8.1-1.4.1-2.1zm31.2-1.3c-.9 1.7-2.1 3.1-3.7 4.1 2-2.1 3.4-4.7 4-7.6.2-.7.3-1.4.3-2.1.6 1.5.5 3.3-.6 5.6z'/%3E%3C/svg%3E") ' ';
}

li:nth-child(3n)::marker {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.5 12.5c-.4-1.1-1.3-1.8-2.2-2-4.2-4-11.6-4.3-17.1-4.1-6.9.3-13.9 2.1-19.4 6.5C2 17.5-2.4 25.7 2.5 32.6c2.2 3.2 5.5 4.9 9 5.5 3.3 1.7 6.7 3.3 10.2 4.4 7.8 2.3 17 1.6 23.2-4.3 7.3-7 4.8-17.3 1.6-25.7zm-20.2 2.7c.6 0 1.3 0 1.8.2 1.1.4 1.7 1.3 2 2.3-1-1.2-2.4-2.1-3.8-2.5zm-1.4 6.6c.9.9 1.3 2.2-.2 2.3-2 .2-1.1-1.9.2-2.3zm-11.8 9.8c-.6-.3-2.9-1.1-3.2-1.8-.2-.5 1.4-3.1 2.1-4.2.3.5.7 1 1.2 1.4 0 .3.1.6.2.8.5 1.9 1.5 3.1 2.9 4h-.2c-.8.1-1.6.1-2.5-.1-.2 0-.3 0-.5-.1zM24 36.4c1.6-.7 3-1.5 4.3-2.5.8.2 1.7.3 2.5.5 2.5.4 5.2.9 7.7.6-.9.6-2 1.1-3 1.4-3.9 1.3-7.7 1-11.5 0z'/%3E%3C/svg%3E") ' ';
}

li:nth-child(3n - 1)::marker {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M48.3 23.7c-1-9.9-9.9-15.6-18.8-17.8-8.2-2.1-18.8-2.6-24.6 4.8C.6 16.2 1 23.6 4.3 29.3c-.5 1-.8 2-1 3-.6 4 2 7.6 5.1 10 5.9 4.4 14 4.2 19.6-.4 1.5 0 2.9-.2 4.4-.5 1.8 0 3.5 0 5.3-.1 2.3-.1 3.5-1.9 3.5-3.7 4.5-3.3 7.7-8.2 7.1-13.9zM9.1 17.8c1.1-4.1 4.9-5.8 8.8-6.1.9-.1 1.9-.1 2.9-.1-3.2 1.6-6.3 4.6-8 7.4-.1.1-.1.2-.2.3-1.1.9-2.1 1.9-3 2.9-.2.2-.4.4-.5.6-.4-1.7-.5-3.3 0-5z'/%3E%3C/svg%3E") ' ';
}

</style>