<footer>
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-xl text-gray-900/20 sm:text-center ">© 2024 <a href="https://github.com/fauchx" class="hover:underline">Fabian Urrutia</a>. Casi todos los derechos reservados
      </span>
      
      </div>
</footer>