---
import Email from "../items/Email.astro"

---

<footer class="mt-20 pt-10">
  <h2 class="text-4xl lg:text-6xl text-gray-900 text-center mb-2"> Contact</h2>
  <div class="flex justify-center items-center">
    <label for="default_outlined" id="myInput" class="text-xl gap-x-4  m-2 justify-center items-center flex p-2 rounded-md ring-4 ring-cyan-500 shadow-[0_0_15px_5px_rgba(6,182,212,0.5)] ease-in transition-all  text-gray-900 ">
      andresurrutia32@gmail.com
      <Email class="size-6 ml-4"/>
    </label>
  </div>
</footer>


<style>
  
</style>
