---
import BriefcaseItem from "../items/BriefcaseItem.astro"
import ArticleItem from "../items/ArticleItem.astro"
---
<div class="px-32">
    <h2 class="text-4xl lg:text-6xl text-cyan-400 text-center mb-16"> Experience</h2>
    <ol class="relative  border-gray-200">                  
        <li class="mb-10 ms-5">            
            <div class="flex items-center gap-x-2 mb-2">
                <BriefcaseItem class="size-6"/>
                <h3 class="mb-1 text-4xl font-semibold text-gray-900 ">Socioeducational Monitor</h3>
            </div>
            <time class="block mb-2 text-lg font-normal leading-none text-gray-400 dark:text-gray-500">November 2022, December 2023</time>
            <p class="mb-4 text-xl  font-normal text-black/90 ">Socioeducational monitoring for students of first year in Systems Engineering</p>
        </li>
        <li class="mb-10 ms-5">
            <div class="flex items-center gap-x-2 mb-2">
                <ArticleItem class="size-6"/>
                <h3 class="mb-1 text-4xl font-semibold text-gray-900 ">Investigation Practice</h3>
            </div>
            <time class="block mb-2 text-lg font-normal leading-none text-gray-400 dark:text-gray-500">March 2023, July 2023</time>
            <p class="text-xl font-normal text-black/90  ">Use OpenAI API for microservices generation based on product backlog and evaluation of result with estipulated metrics</p>
        </li>
       
    </ol>
<div/>
