---
import BriefcaseItem from "../items/BriefcaseItem.astro"
import ArticleItem from "../items/ArticleItem.astro"
---
<div class="px-32">
    <h2 class="text-4xl lg:text-6xl text-cyan-400 text-center mb-16"> Experiencia</h2>
    <ol class="relative  border-gray-200">                  
        <li class="mb-10 ms-5">            
            <div class="flex items-center gap-x-2 mb-2">
                <BriefcaseItem class="size-6"/>
                <h3 class="mb-1 text-4xl font-semibold text-gray-900 ">Asesorias ASES</h3>
            </div>
            <time class="block mb-2 text-lg font-normal leading-none text-gray-400 dark:text-gray-500">Noviembre 2022, Diciembre 2023</time>
            <p class="mb-4 text-xl  font-normal text-black/90 ">Monitorias socioacademicas a los estudiantes de primeros semestres de Ingenieria de Sistemas que tengan condición de excepción</p>
        </li>
        <li class="mb-10 ms-5">
            <div class="flex items-center gap-x-2 mb-2">
                <ArticleItem class="size-6"/>
                <h3 class="mb-1 text-4xl font-semibold text-gray-900 ">Practica de Investigación</h3>
            </div>
            <time class="block mb-2 text-lg font-normal leading-none text-gray-400 dark:text-gray-500">Marzo 2023, Julio 2023</time>
            <p class="text-xl font-normal text-black/90  ">Usar la API de OpenAI para generar microservicios a partir de un product backlog y evaluar resultados con metricas estipuladas</p>
        </li>
       
    </ol>
<div/>
