<header class="flex justify-center items-center py-5 w-full mx-auto">
    <nav class="flex flex-row opacity-80 gap-x-10">
        <a class="text-2xl" href="#about">Sobre mi</a>
        <a class="text-2xl" href="#projects">Proyectos</a>
        <a class="text-2xl" href="#tech">Tecnologias</a>
        <a class="text-2xl" href="#contact">Contacto</a>
    </nav>
</header>