---
import ProjectPanel from "./ProjectPanel.astro"
---
<div class="px-22">
    <h2 class="text-6xl text-red-400 text-center">Proyectos</h2>
    <div class="flex  flex-wrap  justify-around mt-4">
        <ProjectPanel src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2023/11/07/16993381221192.jpg"/>
        <ProjectPanel  src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg)/origin-imgresizer.eurosport.com/2023/12/07/3839658-78026088-2560-1440.jpg"/>
        <ProjectPanel  src="https://media.gq.com.mx/photos/61b3ab1dd72aa58be5f9a143/1:1/w_2063,h_2063,c_limit/Curry.jpg"/>
        <ProjectPanel  src="https://ca-times.brightspotcdn.com/dims4/default/0b6edc8/2147483647/strip/true/crop/3840x2160+0+0/resize/1200x675!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F5a%2Ff1%2Ffbedcdff48bca7bbeff20acd973c%2Fnets-lakers-basketball-48367.jpg"/>
    </div>
</div>
