---
import Socials from "./Socials.astro"

---
<div class="px-22 mb-16">
    <h2 class="text-6xl text-center text-gray-900 mb-10">
        TECH I USE
    </h2>
    <nav class="flex flex-row  mt-4 justify-between">
        <div class="tech inline-block flex-col ">
            <Socials class="rounded-md ring-4 ring-red-400 shadow-[0_0_15px_5px_rgba(248,113,113,0.5)] ease-in transition-all hover:cursor-pointer">
                Frontend
            </Socials>
            <ul class=" absolute mt-4 ring-4 rounded ring-red-400  sm:text-xl text-xs  sm:p-5 p-3">
                <li>HTML</li>
                <li>CSS</li>
                <li>React</li>
                <li>Astro</li>
                <li>Vue JS</li>
                <li>Tailwind</li>
            </ul>
        </div>
        <div class="tech inline-block flex-col">
            <Socials class="rounded-lg ring-4 ring-emerald-400 shadow-[0_0_15px_5px_rgba(52,211,153,0.5)] ease-in transition-all hover:cursor-pointer" >
                Backend
            </Socials>
            <ul class=" absolute rounded mt-4 ring-4 ring-emerald-400  sm:text-xl text-xs sm:p-5 p-3">
                <li>Express JS</li>
                <li>Django</li>
                <li>SpringBoot</li>
                <li>PostgresSQL</li>
                <li>MongoDB</li>
            </ul>
        </div>
        <div class="inline-block flex-col">
            <Socials class="rounded-md ring-4 ring-cyan-500 shadow-[0_0_15px_5px_rgba(6,182,212,0.5)] ease-in transition-all hover:cursor-pointer" >
                Extra
            </Socials>
            <ul class=" absolute  mt-4 rounded ring-4 ring-cyan-500  sm:text-xl text-xs  sm:p-5 p-3">
                <li class="">Clustering Analysis</li>
                <li>Java</li>
                <li>Python</li>
                <li>Docker</li>
                <li>Google tools</li>
                <li>Excel</li>
            </ul>
        </div>
    </nav>
</div>
<style is:global>
    .borde{
    transition:all .5s ease;
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
    }
</style>

<script>
  </script>
  
  