---
import Socials from "./Socials.astro"

---
<div class="px-22 mb-w0">
    <h2 class="text-6xl text-center text-yellow-300 mb-10">
        TECH I USE
    </h2>
    <nav class="flex flex-row  mt-4 justify-between">
        <div class="tech inline-block flex-col ">
            <Socials class="border-red-400 borde hover:cursor-pointer">
                Frontend
            </Socials>
            <ul class="hidden absolute mt-4 border-4 border-dotted border-red-400 p-5">
                <li>HTML</li>
                <li>CSS</li>
                <li>React</li>
                <li>Astro</li>
                <li>Vue JS</li>
                <li>Tailwind</li>
            </ul>
        </div>
        <div class="tech inline-block flex-col">
            <Socials class="border-emerald-400 borde hover:cursor-pointer" >
                Backend
            </Socials>
            <ul class="hidden absolute  mt-4  border-4 border-dotted border-emerald-400 p-5">
                <li>Express JS</li>
                <li>Django</li>
                <li>SpringBoot</li>
                <li>PostgresSQL</li>
                <li>MongoDB</li>
            </ul>
        </div>
        <div class="tech inline-block flex-col">
            <Socials class="border-cyan-500 borde hover:cursor-pointer" >
                Extra
            </Socials>
            <ul class="hidden absolute  mt-4  border-4 border-dotted border-cyan-500 p-5">
                <li>Clustering Analysis</li>
                <li>Java</li>
                <li>Python</li>
                <li>Docker</li>
                <li>Google tools</li>
                <li>Excel</li>
            </ul>
        </div>
    </nav>
</div>
<style is:global>
    .borde{
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    transition:all .5s ease;
    }
    .borde:hover{
        box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
    }
    .tech:hover ul {
        display: block;
    }
    @media (min-width: 640px) {
        .tech ul {
        display: none;
    }
    }
    
</style>

<script>
  </script>
  
  