---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
import '@fontsource/nanum-pen-script';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
			<Header/>
			<slot/>	
			
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Nanum Pen Script', cursive;
		scroll-behavior: smooth;
	}
	body{
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		color: black;
		background-color: rgba(249, 249, 255, 0.9); 
		background-size: 20px 20px;
		background-image:  repeating-linear-gradient(0deg, #bebebe, #bebebe 1px, rgba(249, 249, 255, 0.9) 1px, rgba(249, 249, 255, 0.9)); 
	}
	@media (prefers-reduced-motion: reduce) {
		html{
			scroll-behavior: auto;
		}		
	}
	

</style>
