---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
import '@fontsource/nanum-pen-script';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]">
			<Header/>
			<slot/>	
		</div>	
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Nanum Pen Script', cursive;
		scroll-behavior: smooth;
	}
	body{
		background: white;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		color: black;
	}
	@media (prefers-reduced-motion: reduce) {
		html{
			scroll-behavior: auto;
		}		
	}
	.custom-background {
    background-image: radial-gradient(#00000070 1px, #e5e7eb 1px, transparent 1px);
    background-size: 16px 16px;
    mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, #000 70%, transparent 100%);
	}

</style>
